.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: visible;
  z-index: 100;
  opacity: 1;
}

.popup {
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  position: relative;
  transition: all 5s ease-in-out;
  .close {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
    border: 2px solid $black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    transition: all 0.4s;
    &:hover {
      background: $light-blue;
      color: $white;
    }
  }
}

.iframe-wrap {
    max-width: 100%;
    height: 800px;
    padding: 0;
}

.frame {
    width: 120%;
    height: 1000px;
    border: 0;
    -ms-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -o-transform: scale(0.80);
    -webkit-transform: scale(0.80);
    transform: scale(0.80);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
