<div class="header__top-row">
    <div class="content">
        {% include "/shared/menu" %}
        {% include "/shared/search" %}
        {% include "/shared/social_links" %}
        <div class="login-signup">
            <ul>
                <li>
                    <a class="cd-signin" href="#0">Sign in</a>
                </li>
                <li>
                    <a class="cd-signup" href="#0">Sign up</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% if breaking_news %}
    <div class="breaking-news">
        <div class="content">
            <div class="breaking-news__title">
                <span class="breaking-news__title__text">Breaking News</span>
            </div>
            <div class="breaking-news__headlines js-breakingnews-marquee">
                {% for breaking_story in breaking_news %}
                    {% if breaking_story['metadata']['linked-story-slug'] %}
                        <div class="breaking-news__headline">
                            <a href="/{{breaking_story['metadata']['linked-story-slug']}}">{{breaking_story['headline'] | trim }}</a>
                        </div>
                    {% else %}
                        <div class="breaking-news__headline">
                            {{breaking_story['headline'] | trim }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
<div class="cd-user-modal">
    <!-- this is the entire modal form, including the background -->
    <div class="cd-user-modal-container">
        <!-- this is the container wrapper -->
        <ul class="cd-switcher">
            <li>
                <a href="#0">Sign in</a>
            </li>
            <li>
                <a href="#0">New account</a>
            </li>
        </ul>

        <div id="cd-login">
            <!-- log in form -->
            <form class="cd-form">
                <p class="fieldset">
                    <label class="image-replace cd-email" for="signin-email">E-mail</label>
                    <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
                    <span class="cd-error-message">Enter your E-mail ID.</span>
                </p>

                <p class="fieldset">
                    <label class="image-replace cd-password" for="signin-password">Password</label>
                    <input class="full-width has-padding has-border" id="signin-password" type="text" placeholder="Password">
                    <a href="#0" class="hide-password">Hide</a>
                    <span class="cd-error-message">Enter your password</span>
                </p>

                <p class="fieldset">
                    <input type="checkbox" id="remember-me" checked>
                    <label for="remember-me">Remember me</label>
                </p>

                <p class="fieldset">
                    <input class="full-width js-login-button" type="submit" value="Login">
                </p>
            </form>

            <p class="cd-form-bottom-message">
                <a href="#0">Forgot your password?</a>
            </p>
            <!-- <a href="#0" class="cd-close-form">Close</a> -->
        </div>
        <!-- cd-login -->

        <div id="cd-signup">
            <!-- sign up form -->
            <form class="cd-form">
                <p class="fieldset">
                    <label class="image-replace cd-name" for="signup-name">Name</label>
                    <input class="full-width has-padding has-border" id="signup-name" type="text" placeholder="Name">
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <label class="image-replace cd-email" for="signup-email">E-mail</label>
                    <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <label class="image-replace cd-password" for="signup-password">Password</label>
                    <input class="full-width has-padding has-border" id="signup-password" type="text" placeholder="Password">
                    <a href="#0" class="hide-password">Hide</a>
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <input type="checkbox" id="accept-terms">
                    <label for="accept-terms">I agree to the
                        <a href="#0">Terms</a>
                    </label>
                </p>

                <p class="fieldset">
                    <input class="full-width has-padding js-signup-button" type="submit" value="Create account">
                </p>
            </form>

            <!-- <a href="#0" class="cd-close-form">Close</a> -->
        </div>
        <!-- cd-signup -->

        <div id="cd-reset-password">
            <!-- reset password form -->
            <p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

            <form class="cd-form">
                <p class="fieldset">
                    <label class="image-replace cd-email" for="reset-email">E-mail</label>
                    <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <input class="full-width has-padding" type="submit" value="Reset password">
                </p>
            </form>

            <p class="cd-form-bottom-message">
                <a href="#0">Back to log-in</a>
            </p>
        </div>
        <!-- cd-reset-password -->
        <a href="#0" class="cd-close-form">Close</a>
    </div>
    <!-- cd-user-modal-container -->
</div>
<!-- cd-user-modal -->
<script type="text/javascript">
    $('.js-login-button').on("click", function() {
      var data = {
        'email': $('#signin-email').val(),
        'password': $('#signin-password').val()
      };

      $.ajax({
         type: "POST",
         url: "/api/member/login",
         data: JSON.stringify(data),
         contentType: 'application/json',
         success: function (data) {
           console.log(data.status);
         },
         error: function (data) {
           console.log('Error:', data.status);
         }
      });
    })

    $('.js-signup-button').on("click", function() {
      var data = {
          'name': $('#signup-name').val(),
          'username': $('#signup-name').val(),
          'email': $('#signup-email').val(),
          'password': $('#signup-password').val(),
      }

      $.ajax({
         type: "POST",
         url: "/api/member",
         data: JSON.stringify(data),
         contentType: 'application/json',
         success: function (data) {
           console.log(data);
         },
         error: function (data) {
           console.log('Error:', data.status);
         }
      });
    })
</script>
