{% include "story/header-card" %}
<div class="story-header">
  <div class="story-header__hero-image">
    <figure>
      <img src="{{focusedImageUrl(storyData['hero-image-s3-key'],config['image-cdn'], [16,9], storyData['hero-image-metadata'], {w: 1000})}}" class="story-img"/>
      {% if storyData['hero-image-caption'] %}
      <figcaption>{{storyData['hero-image-caption'] | raw}}</figcaption>
      {% endif %}
    </figure>
    <div class="sourcefrom">
      {{ storyData["hero-image-attribution"] | raw }}
    </div>
  </div>
</div>
<div class="story-body">
  {% include "story/cards" with {'storyCards': storyData['cards']} %}
  {% if storyData['story-template'] == 'news-elsewhere' %}
  <a class="button" href="#external-story">Read more</a>
  <div id="external-story" class="overlay">
    <div class="popup">
        <a class="close" href="#">&times;</a>
        <div class="content">
            <div class="iframe-wrap">
                <iframe class="frame" src="http://timesofindia.indiatimes.com/entertainment/hindi/bollywood/news/watch-hrithik-roshan-invites-fans-to-the-success-bash-of-kaabil/articleshow/56946829.cms"></iframe>
            </div>
        </div>
    </div>
  </div>
  {% endif %}
  {% include "story/tags" with {'storyTags': storyData['tags']} %}
  {% include "story/ads" %}
</div>
