<a class="more" href="#external-story">View full story >></a>
<div id="external-story" class="overlay">
    <div class="popup">
        <a class="close" href="#">&times;</a>
        <div class="">
            <div class="iframe-wrap">
                <iframe class="frame" src="{{ storyData['metadata']['reference-url'] }}"></iframe>
            </div>
        </div>
    </div>
</div>
