<a class="more">View full story >></a>
<div id="external-story">
    <div class="popup">
        <a class="close">&times;</a>
        <div class="">
            <div class="iframe-wrap">
                <iframe class="frame" src="{{ storyData['metadata']['reference-url'] }}"></iframe>
            </div>
        </div>
    </div>
</div>
